<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <section>
            <div class="header">
                <h4> D </h4>
                <h3> PROJECT NAME </h3>
            </div>
        </section>
        <section>
            <div class="large_image carousel">
                <p> Feature image or slider </p>
            </div>
            <div id="first_text_wrapper">
                <div id="large_blurb">
                    <h1  id="blurb_title"> PROJECT NAME </h1>
                    <h5> SERVICE OFFERING <i> for </i> CLIENT NAME </h5>
                    <h5> Q. Why do Java programmers have to wear glasses? <br> A. Because they don't C#</h5>
                    <button> VISIT SITE </button>
                </div>
            </div>g
            <div class="second_image_wrapper">
                <div class="large_image">
                    <p> Image <p>
                 </div>
                 <div class="small_blurb">
                    <h1> BLURB </h1>
                    <h5> Q. What is a programmers favourite hangout place? <br> A. Foo Bar</h5>
                 </div>
            </div>
            <div class="first_flex_wrapper">
                <ul class="flex_image_container">
                  <li class="flex-image large">IMAGE </li>
                  <li class="flex-image small">IMAGE </li>
                  <li class="flex-image small">IMAGE </li>
                </ul>
            </div>
         </section>
        <section>
            <div class="breakout_area">
                <div class="side_blurb">
                    <h2> BREAKOUT AREA </h2>
                    <h5> Programmer (noun): A person who fixed a problem you didn't know you had in a way you don't understand </h5>
                </div>
                <div class="breakout_image">
                    <p> </p>
                </div>
            </div>
        </section>
        <section>
            <div class="more_layouts_image">
                <h1> MORE LAYOUTS </h1>
                <div class="large_image"> <p> Image <p>  </div>
                <div class="small_blurb">
                    <h1> BLURB </h1>
                    <h4> BLAGHKJDLSKFDJALDSKFJASDLJK </h4>
                </div>
                <div class="second_flex_wrapper">
                    <ul class="flex_image_container with_blurb">
                        <li class="flex-image large">1</li>
                        <li class="flex-image small">2</li>
                        <li class="flex-image small">3</li>
                    </ul>
                    <div class="caption_wrapper">
                        <p> IMAGE CAPTION </p>
                        <p> IMAGE CAPTION </p>
                        <p> IMAGE CAPTION </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="more_projects_wrapper">
                <h1> MORE PROJECTS </h1>
                <h3> Lots of projects yay</h3>
                <div class="third_flex_wrapper">
                    <ul class="flex_cubes_container">
                        <li class="flex-cube"><p></p> </li>
                        <li class="flex-cube"> <p></p></li>
                        <li class="flex-cube"> <p></p></li>
                        <li class="flex-cube"> <p></p></li>
                        <li class="flex-cube with_text">
                            <h3> Project Name</h3>
                            <h5> info about project </h5>
                        </li>
                        <li class="flex-cube with_text">
                            <h3> Project Name</h3>
                            <h5> info about project </h5>
                        </li>
                        <li class="flex-cube with_text">
                            <h3> Project Name</h3>
                            <h5> info about project </h5>
                        </li>
                        <li class="flex-cube with_text">
                            <h3> Project Name</h3>
                            <h5> info about project </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
