body {
  background-color: #1a1a1a;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 3px;
    color: white;
}
h5 {
   color: #9e9e9e
}
/*using nunito as it is the closest I can find to Avenir*/

.header {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
   display: flex;
   justify-content: space-between;

}
.header h4 {
    padding:10px;
    background-color: #2e2e2e ;
}
.header h3 {
    padding:10px;
}
/*section1*/
.large_image {
    background-color: #2e2e2e;
    width: 70vw;
    height: 50vh;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#first_text_wrapper {
    height: 40vh;
    text-align: center;
    margin: 50px 0;

}

.main_title {
    font-size: 4em;
    letter-spacing: 8px;
}

#large_blurb button {
    background-color: black;
    color: white;
    padding: 20px 40px;
    letter-spacing: 3px;
}

#modalButton {
    background-color: #2e2e2e;
    color: white;
    border: solid thin white;
    width: 30px;
    height: 30px;
    margin: 10px;
    right: 0;
    position: absolute;
    font-size: 1em;
}

.small_blurb {
    text-align: center;
    padding: 15vh;
}
.small_blurb h1 {
    letter-spacing: 5px;
}

.first_flex_wrapper {
    width: 70vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vh;
}
.flex_image_container {
    width: 100%;
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

}

.flex-image {
    background: #2e2e2e;
    margin: 10px 10px 10px 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    width: 70vw;
}
.large {
    flex-grow: 2;
    height: auto;
    width: 100%;
    margin-top: -30px !important;
}
.small {
    width: auto;
    flex-grow: 1;
    height: auto;
}

/*section2*/
.breakout_area{
    background-color: white;
    width: 100%;
    height: 50vh;
    position: relative;
}
.side_blurb {
    bottom: 40%;
    left: 100px;
    color: black;
    position: absolute;
    width: 30vw;
}
.side_blurb h5 {
    color: #9e9e9e !important;
}
.side_blurb h2::after{
    content: " ";
    border-top: solid thin #9e9e9e;
    display: block;
    margin-top: 20px;
    width: 40px;
}

.breakout_image {
    margin: 50px 50px 0 0;
    width: 50vw;
    height: 40vh;
    background-color: #e6e6e6;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*section3*/
.more_layouts_image {
    text-align: center;
}
.second_flex_wrapper {
    width: 70vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20vh;
}
.flex_image_container.with_blurb {
    width: 80% !important;
    position: absolute;
    right: 0;
}
.caption_wrapper {
    width: 20%;
    height: 100%;
    text-align: right !important;
}

.caption_content {
    color: #9e9e9e;
    font-size: 0.8em;
}

.caption_wrapper p:first-of-type{
    height: 50%;
}
.caption_wrapper p::before {
    content: " ";
    border-top: solid thin white;
    display: block;
}

/*end section*/
.more_projects_wrapper::before {
    content: " ";
    border-top: solid thin #2e2e2e;
    display: block;
}
.more_projects_wrapper {
    text-align: center;
}

.third_flex_wrapper {
    width: 70vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vh;
}

.flex-image.with_text {
    background-color: transparent;
}

.flex_cubes_container {
    padding: 0;
    margin: 0;
    list-style: none;
    width : 70vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-cube {
    flex-grow: 1;
    flex-shrink: 1;
    background: #2e2e2e;
    padding: 5px;
    margin: 5px;
    width: 15vw;
    height: 150px;
    margin-top: 10px;
    color: white;
    text-align: center;
 }
.flex-cube.with_text {
    background-color: transparent !important;
}

/*/The modal*/
.modal_wrapper {
    background-color: white;
    display: block;
    position: fixed;
    z-index: 1;
    margin-top: 100px;
    left: 0;
    top: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
    height: 60vh;
}
.model_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.model_content h1 {
    padding-top: 50px;
    color: #2e2e2e;
}


#close {
    color: #aaaaaa;
    float: right;
    padding-right: 30px;
    font-size: 28px;
    font-weight: bold;
}